* {
  motion: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  font-family: "Circular Std", sans-serif;
  overflow: hidden;
}

.logo,
.menu__logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.logo a,
.menu__logo a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Schabo";
  font-size: 60px;
  font-weight: lighter;
}

.logo a {
  color: #000000;
}

.menu__logo a {
  color: #ffffff;
}

.menu__toggle {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 120px;
  height: 60px;
  background-color: #0f0f0f;
  border-radius: 8rem;
  cursor: pointer;
  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: right;
  z-index: 2;
}

.menu__toggle.opened {
  width: 60px;
}

.menu__copy {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: #ffffff;
  transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.menu__copy p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.menu__toggle:hover .menu__copy {
  left: 20px;
}

.menu__toggle.opened .menu__copy {
  opacity: 0;
}

.menu__toggle__icon {
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: burlywood;
  clip-path: circle(10% at 50% 50%);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 10;
  overflow: hidden;
}

.menu__toggle:hover .menu__toggle__icon {
  clip-path: circle(35% at 50% 50%);
}

.menu__toggle.opened .menu__toggle__icon {
  clip-path: circle(50% at 50% 50%);
  transform: scale(1.125);
}

.hamburger {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}

.menu__toggle:hover .hamburger,
.menu__toggle.opened .hamburger {
  top: 50%;
  opacity: 1;
}

.menu__bar {
  position: absolute;
  width: 15px;
  height: 1.5px;
  background-color: #000000;
  transition-property: transform;
  transition: all 25ms ease-out;
}

.menu__bar[data-position="top"] {
  transform: translateY(-3px);
}

.menu__bar[data-position="bottom"] {
  transform: translateY(3px);
}

.menu__toggle.opened .menu__bar[data-position="top"] {
  transform: translateY(0) rotate(45deg) scale(1.05);
}

.menu__toggle.opened .menu__bar[data-position="bottom"] {
  transform: translateY(0) rotate(-45deg) scale(1.05);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0f0f0f;
  pointer-events: none;
  transform-style: preserve-3d;
  perspective: 1000px;
  display: flex;

  /* clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%); */
}

.col {
  flex: 1;
}

.col__2 {
  flex: 2;
}

.col {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10em 2em 2em 2em;
}

.link {
  position: relative;

  /* transform: translateY(30px);
  opacity: 0; */
}

.link a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 40px;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: -1.5px;
  line-height: 125%;
}

.video__wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background-color: #1d1d1d;
  padding: 2em;
  /* clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%); */
}

.video__wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.socials {
  width: 50%;
  display: flex;
  gap: 2em;
}

.socials .sub__col {
  flex: 1;
}

.socials .sub__col p {
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Akkurat Mono";
  /* transform: translateY(30px);
  opacity: 0; */
}

.header h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Schabo";
  font-size: 500px;
  font-weight: lighter;
  line-height: 100%;
  height: 400px;
}

.header h1 span {
  position: relative;
  display: inline-block;
  transform: scale(0.75) translateY(500px) rotate(90deg);
  transform-origin: bottom;
}
